/*FONTS*/

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('/fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: 'Montserrat-Hairline';
    src: url('/fonts/Montserrat-Hairline.otf');
}


/*CSS RESET*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: small;
}

a {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}


/*END OF CSS RESET*/


/*PALLETTE*/

$blueText: #024F9D;
$lightGray: #E3E3E3;
$servicesBg: #01509F;
$dotGray: #BBBBBB;
$footer: #1D1D1B;
$darkDivider: #C6C6C6;
$lightDivider: #E2E2E2;
$lightLine: #E8E8E8;
$darkerText: #1D1D1D;
$lighterText: #969694;
$blueText: #004F9E;
$arrows: #444442;
$grayLine: #C8C8C8;

/*END OF PALLETTE*/


/*GLOBAL CSS*/

body {
    font-family: Montserrat-Hairline, sans-serif;
}

header,
section,
footer {
    position: relative;
    display: inline-block;
    width: 100%;
}

.innerContainerBanner {
    padding: 10%;
}

.innerContainer {
    padding: 5%;
}

.wrapper {
    position: relative;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    font-family: Montserrat-Light, sans-serif;
    color: $blueText;
    padding-bottom: 0.5em;
}

h3 {
    font-size: 2em;
    font-family: Montserrat-Light, sans-serif;
    color: $blueText;
}

.discover {
    border: black solid 0.2em;
    padding: 1em;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 0.9em;
    margin: 0 auto;
    width: 50%;
    &:hover {
        color: white;
        background-color: black;
        border: black solid 0.2em;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.sectionFooter {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(-50%);

}


/*END OF GLOBAL CSS*/

.topHeader {
    display: inline-block;
    top: 0;
    width: 100%;
    span {
        font-family: Montserrat-Regular, sans-serif;
    }
    .leftSide {
        ul li {
            border-right: solid 0.2em $lightDivider;
        }
    }
    .rightSide {
        ul li {
            border-left: solid 0.2em $lightDivider;
            &:first-child {
                border-left: solid 0.1em $darkDivider;
            }
        }
    }
    ul li {
        display: inline-block;
        padding: 1.5em;
    }
}

.bottomHeader {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 2em;
    .logo {
        width: 49%;
        float: left;
        padding-bottom: 1.7em;
    }
    .primaryNavContainer {
        width: 49%;
        float: right;
        position: absolute;
        bottom: 0;
        right: 0;
        .primaryNav {
            float: left;
            font-family: Montserrat-Regular, sans-serif;
            .dropdown {
                position: relative;
            }
            .subNav {
                padding-top: 1em;
                display: none;
                position: absolute;
                background-color: white;
                color: $blueText;
                left: 50%;
                transform: translateX(-50%);
                font-family: Montserrat-Light, sans-serif;
                li {
                    padding: 1.5em 3em;
                }
            }
            .dropdown:hover .subNav {
                display: block;
                a {
                    white-space: nowrap;
                    &:hover {
                        border-bottom: solid 0.3em $blueText;
                        ;
                    }
                }
            }
            ul li {
                display: inline-block;
                padding: 2em 3em;
                a {
                    padding-bottom: 0.3em;
                    &:hover {
                        border-bottom: solid 0.3em black;
                    }
                }
            }
        }
    }
}

.banner {
    background: url("/images/bg-sample.jpg") no-repeat center center local;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: white;
    h1 {
        font-family: Montserrat-Bold, sans-serif;
        font-size: 4.6em;
        padding-bottom: 0.8em;
    }
    p {
        font-size: 4.6em;
        padding-bottom: 0.8em;
    }
    a {
        display: inline-block;
        border: 0.2em white solid;
        padding: 2em 5em;
        font-family: Montserrat-Regular, sans-serif;
        margin: 1em;
    }
}

.brands {
    p {
        font-size: 1.5em;
        margin-bottom: 2em;
    }
    .brandWindow {
        padding: 2em 0em;
        width: 30%;
        display: inline-block;
        .brandDesc {
            padding: 2em;
            margin: 2em;
            font-size: 0.6em;
            border-top: 0.1em solid $lightLine;
            border-bottom: 0.1em solid $lightLine;
            span {
                font-family: Montserrat-Regular, sans-serif;
            }
        }
    }
}

.products {
    p {
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .productWindow {
        padding: 2em;
        width: 25%;
        display: inline-block;
        h3 {
            font-size: 1.5em;
            white-space: nowrap;
        }
        p {
            font-size: 1em;
            line-height: 1.5em;
        }
    }
}

.bottom {
    .services {
        display: inline-block;
        width: 100%;
        background-color: $servicesBg;
        color: white;
        .innerContainer {
            .leftSide {
                width: 49%;
                display: inline-block;
                vertical-align: top;
                .serviceText {
                    width: 50%;
                    text-align: left;
                    padding-left: 50%;
                    img {
                        display: block;
                        clear: both;
                    }
                    h5 {
                        font-size: 1em;
                        display: block;
                        padding-top: 5em;
                        font-family: Montserrat-Regular, sans-serif;
                    }
                    .whiteLine {
                        display: block;
                        background-color: white;
                        width: 2em;
                        height: 0.5em;
                        margin-top: 2em;
                        margin-bottom: 2em;
                    }
                    p {
                        display: block;
                        text-align: left;
                        font-size: 1.8em;
                    }
                }
            }
            .rightSide {
                display: inline-block;
                width: 49%;
            }
        }
    }
    .favourites {
        display: inline-block;
        width: 100%;
        .innerContainer {
            position: relative;
        }
        .favCard {
            width: 25%;
            display: inline-block;
            vertical-align: top;
            padding-top: 10%;
            .imgContainer {
                margin-bottom: 3em;
                display: block;
                img {
                    margin: 0 auto;
                }
            }
            a {
                display: block;
                border: black solid 0.3em;
                padding: 0.5em;
                font-family: Montserrat-Bold, sans-serif;
                font-size: 1em;
                margin: 0 auto;
                width: 50%;
                &:hover {
                    color: white;
                    background-color: black;
                    border: black solid 0.3em;
                }
            }
        }
        .customerFav {
            display: inline-block;
            width: 49%;
            text-align: left;
            h5 {
                font-size: 1.1em;
                display: block;
                font-family: Montserrat-Regular, sans-serif;
            }
            .blackLine {
                display: block;
                background-color: black;
                width: 2em;
                height: 0.5em;
                margin-top: 2em;
                margin-bottom: 2em;
            }
            h4 {
                font-size: 1.3em;
                display: block;
                font-family: Montserrat-Regular, sans-serif;
                padding-bottom: 3em;
            }
            p {
                padding-top: 3em;
                font-size: 1.7em;
                display: block;
            }
        }
        .favDesc {
            width: 90%;
            position: absolute;
            top: 38%;
            z-index: -1;
            border-top: solid 1px $grayLine;
            border-bottom: solid 1px $grayLine;
            padding: 1em 0em 1em 11em;
        }
    }
}

.mainFooter {
    text-align: center;
    background-color: $footer;
    color: white;
    .footerLogo {
        display: inline-block;
        max-width: 20%;
        float: left;
    }
    .footerCenter {
        display: inline-block;
        max-width: 70%;
        .footerNav {
            li {
                display: inline-block;
            }
        }
    }
    .designBy {
        display: inline-block;
        max-width: 20%;
        float: right;
    }
}
